services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    container_name: doccontrol-v3-backend
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    env_file:
      - ./backend/.env
    depends_on:
      - frontend

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    container_name: doccontrol-v3-frontend
    command: npm run dev -- --host
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - node_modules:/app/node_modules
    env_file:
      - ./frontend/.env.development

volumes:
  node_modules:
