# version: '3.9'

# services:
#   backend:
#     build: ./backend
#     container_name: doccontrol-v3backend
#     ports:
#       - "8000:8000"
#     volumes:
#       - ./backend:/app
#     environment:
#       - DEBUG=1


#   frontend:
#     build: ./frontend
#     container_name: doccontrol-v3frontend
#     ports:
#       - "5173:5173"
#     volumes:
#       - ./frontend:/app
#       - /app/node_modules
#     depends_on:
#       - backend









version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    container_name: doccontrol-v3-backend
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    env_file:
      - ./backend/.env
    depends_on:
      - frontend

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    container_name: doccontrol-v3-frontend
    command: npm run dev -- --host
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - node_modules:/app/node_modules
    env_file:
      - ./frontend/.env.development

volumes:
  node_modules:
