version: '3.9'

services:
  backend:
    build: ./backend
    container_name: doccontrol-v3backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    environment:
      - DEBUG=1


  frontend:
    build: ./frontend
    container_name: doccontrol-v3frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend